.space-padding {
    padding: 0px 0px 20px 0px;
}

.space-padding-min {
    padding: 0px 0px 1px 0px;
}

.space-padding-md {
    padding: 0px 0px 5px 0px;
}

.space-padding-lg {
    padding: 0px 0px 40px 0px;
}

.font-tabs-left {
    color: #ffffff;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
}

.bordered-font {
    font-size: 20px;
    border-top: 1px solid #ffffff;
    border-radius: 2px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
}

.font-tabs-right {
    color: #ffffff;
    font-size: 20px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
}

.font-white {
    color: #ffffff;
}

.font-white-light {
    color: #ffffff;
    font-weight: 200;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
    max-height: 400px;
    min-height: 400px;
    overflow: hidden;
}

.image-header {
    min-height: 500px;
    min-width: 900px;
    transform: translate(0px, -150px);
    width: 100%;
    position: relative;
    top: -150px;
}

.bg-square-outline {
    min-width: 100%;
    min-height: 500px;
}

.img-store {
    display: inline-block;
    width: 25%;
    min-width: 15%;
}

.center-vert-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.row-content {
    margin: 0px auto;
    padding: 30px 0px;
    border-bottom: 1px ridge;
    min-height: 310px;
}

.row-content-blue {
    margin: 0px auto;
    padding: 30px 0px;
    min-height: 200px;
    background-color: #1596F3;
}

.row-content-darkblue {
    margin: 0px auto;
    padding: 20px 0px;
    min-height: 200px;
    background-color: #093F66;
}

.row-content-lightblue {
    margin: 0px auto;
    padding: 30px 0px;
    min-height: 400px;
    background-color: #D2EFF9;
}

.row-content-seller {
    min-height: 400px;
}

.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #AfAfAf;
}

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #7986CB;
    color: floralwhite;
}

.carousel {
    background: #1a237e;
}

.carousel .item {
    height: 300px;
}

.carousel .item img {
    left: 0;
    min-height: 300px;
    position: absolute;
    top: 0;
}

address {
    color: #0f0f0f;
    font-size: 80%;
    margin: 0px;
}

body {
    align-content: center;
    padding: 0px 0px 0px 0px;
    z-index: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.tab-content-border {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 10px;
}

.affix {
    top: 100px;
}

#carouselButtons {
    bottom: 0px;
    position: absolute;
    right: 0px;
}

.font-color-waoo {
    color: #777777;
}

.font-blue {
    color: #44606A;
    font-weight: 500;
}

.font-color-waoodark {
    color: #4F4F4F;
    font-weight: 300;
}

.font-color-waoolight {
    color: #C3C3C3;
}

.panel-transparent {
    background: #D2EFF9 !important;
    border-color: #D2EFF9;
}

.panel-transparent .panel-heading {
    background: #D2EFF9!important;
    border-bottom-color: #D2EFF9;
}

.panel-transparent .panel-body {
    border-bottom-color: #44606A;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 1px solid #44606A;
}

a.dark:hover {
    color: lightgray;
}

.flat-butt {
    border-radius: 4px;
    font-family: "Lato", sans-serif;
    font-size: 16.5px;
    padding: 12px 20px;
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.flat-butt-sm {
    border-radius: 4px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 15px;
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.flat-butt:hover {
    background: #005580;
}

.flat-info-butt {
    background: #337AB7;
}

.flat-info-butt:hover {
    background: #2C699D;
}

.btn-flat-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-flat-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.a-waoo {
    font-weight: 100;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
}

.a-waoo:hover,
.a-waoo:link {
    font-weight: 100;
    color: gainsboro;
}

.a-waoo:active,
.a-waoo:visited {
    font-weight: 100;
    color: white;
}

.label-modal {
    margin-top: 5px;
    text-align: right;
    font-size: 16px;
    font-family: GillSansLight;
}

.label-modal-left {
    margin-top: 5px;
    text-align: left;
    font-size: 16px;
    font-family: GillSansLight;
}

@font-face {
    font-family: OpenSansLight;
    src: url(/bower_components/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansReg;
    src: url(/bower_components/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: GillSansReg;
    src: url(../fonts/GillSans.ttf);
}

@font-face {
    font-family: GillSansLight;
    src: url(../fonts/GillSans-Light.ttf);
}

@font-face {
    font-family: GillSansBold;
    src: url(../fonts/GillSans-Bold.ttf);
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url(../fonts/HelveticaNeue-Light.ttf);
}

@font-face {
    font-family: HelveticaNeueThin;
    src: url(../fonts/HelveticaNeue-Thin.ttf);
}

.justified {
    text-align: justify;
}

.space-min {
    padding-top: 10px;
}

.space-mid {
    padding-top: 20px;
}

.space-big {
    padding-top: 30px;
}

.button-text {
    font-family: GillSansLight;
}

.hn-light {
    font-family: HelveticaNeueLight;
}

.hn-thin {
    font-family: HelveticaNeueThin;
}

.hn-reg {
    font-family: HelveticaNeue;
}

.gs-reg {
    font-family: GillSansReg;
}

.gs-light {
    font-family: GillSansLight;
}

.gs-bold {
    font-family: GillSansBold;
}

.h3-header {
    font-family: OpenSansLight;
    font-size: 30px;
}

.h4-header {
    font-family: OpenSansReg;
    color: dimgray;
    font-size: 15px;
}

.modal-label-in {
    font-family: GillSansReg;
    color: #333333;
    font-size: 15px;
    text-align: right;
    margin-top: 4px;
}

.header-top-title {
    font-family: GillSansLight;
    color: #747474;
    font-size: 50px;
}

.grey {
    color: #555555;
}

.med-grey {
    color: #95989A;
}

.light-grey {
    color: #95989A;
}

.light-blue {
    color: #4093C9;
}

.center-but {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.button {
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 50px;
    font-family: 'co-text';
    font-weight: 300;
}

.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.button:hover,
.button:focus,
.button.focus {
    color: #333;
    text-decoration: none;
}

.button:active,
.button.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.button.disabled,
.button[disabled],
fieldset[disabled] .button {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

a.button.disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}

.button-lg,
.button-group-lg>.button {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.button-sm,
.button-group-sm>.button {
    padding: 4px 20px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 12px;
}

.button-light-purple-fill {
    color: #fff;
    background-color: #858AF6;
    border-color: #858AF6;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.button-light-purple-fill:focus,
.button-light-purple-fill.focus {
    color: #333;
    background-color: transparent;
    border-color: #858AF6;
}

.button-light-purple-fill:hover {
    color: #858AF6;
    background-color: transparent;
    border-color: #858AF6;
}

.button-light-purple-fill:active,
.button-light-purple-fill.active,
.open>.dropdown-toggle.button-light-purple-fill {
    color: #858AF6;
    background-color: transparent;
    border-color: #858AF6;
}

.button-light-purple-fill:active:hover,
.button-light-purple-fill.active:hover,
.open>.dropdown-toggle.button-light-purple-fill:hover,
.button-light-purple-fill:active:focus,
.button-light-purple-fill.active:focus,
.open>.dropdown-toggle.button-light-purple-fill:focus,
.button-light-purple-fill:active.focus,
.button-light-purple-fill.active.focus,
.open>.dropdown-toggle.button-light-purple-fill.focus {
    color: #858AF6;
    background-color: transparent;
    border-color: #858AF6;
}

.button-light-purple-fill:active,
.button-light-purple-fill.active,
.open>.dropdown-toggle.button-light-purple-fill {
    background-image: none;
}

.button-light-purple-fill.disabled:hover,
.button-light-purple-fill[disabled]:hover,
fieldset[disabled] .button-light-purple-fill:hover,
.button-light-purple-fill.disabled:focus,
.button-light-purple-fill[disabled]:focus,
fieldset[disabled] .button-light-purple-fill:focus,
.button-light-purple-fill.disabled.focus,
.button-light-purple-fill[disabled].focus,
fieldset[disabled] .button-light-purple-fill.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-light-purple-fill .badge {
    color: #fff;
    background-color: #858AF6;
}

.button-light-purple-clear {
    color: #858AF6;
    background-color: transparent;
    border-color: #858AF6;
}

.button-light-purple-clear:focus,
.button-light-purple-clear.focus {
    color: #fff;
    background-color: #858AF6;
    border-color: #858AF6;
}

.button-light-purple-clear:hover {
    color: #fff;
    background-color: #858AF6;
    border-color: #858AF6;
}

.button-light-purple-clear:active,
.button-light-purple-clear.active,
.open>.dropdown-toggle.button-light-purple-clear {
    color: #fff;
    background-color: #858AF6;
    border-color: #858AF6;
}

.button-light-purple-clear:active:hover,
.button-light-purple-clear.active:hover,
.open>.dropdown-toggle.button-light-purple-clear:hover,
.button-light-purple-clear:active:focus,
.button-light-purple-clear.active:focus,
.open>.dropdown-toggle.button-light-purple-clear:focus,
.button-light-purple-clear:active.focus,
.button-light-purple-clear.active.focus,
.open>.dropdown-toggle.button-light-purple-clear.focus {
    color: #fff;
    background-color: #858AF6;
    border-color: #858AF6;
}

.button-light-purple-clear:active,
.button-light-purple-clear.active,
.open>.dropdown-toggle.button-light-purple-clear {
    background-image: none;
}

.button-light-purple-clear.disabled:hover,
.button-light-purple-clear[disabled]:hover,
fieldset[disabled] .button-light-purple-clear:hover,
.button-light-purple-clear.disabled:focus,
.button-light-purple-clear[disabled]:focus,
fieldset[disabled] .button-light-purple-clear:focus,
.button-light-purple-clear.disabled.focus,
.button-light-purple-clear[disabled].focus,
fieldset[disabled] .button-light-purple-clear.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-light-purple-clear .badge {
    color: #fff;
    background-color: #858AF6;
}

.button-purple-fill {
    color: #fff;
    background-color: #3030AC;
    border-color: #3030AC;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.button-purple-fill:focus,
.button-purple-fill.focus {
    color: #fff;
    background-color: #3030AC;
    border-color: #3030AC;
}

.button-purple-fill:hover {
    color: #fff;
    background-color: #3030AC;
    border-color: #3030AC;
}

.button-purple-fill:active,
.button-purple-fill.active,
.open>.dropdown-toggle.button-purple-fill {
    color: #fff;
    background-color: #3030AC;
    border-color: #3030AC;
}

.button-purple-fill:active:hover,
.button-purple-fill.active:hover,
.open>.dropdown-toggle.button-purple-fill:hover,
.button-purple-fill:active:focus,
.button-purple-fill.active:focus,
.open>.dropdown-toggle.button-purple-fill:focus,
.button-purple-fill:active.focus,
.button-purple-fill.active.focus,
.open>.dropdown-toggle.button-purple-fill.focus {
    color: #fff;
    background-color: #3030AC;
    border-color: #3030AC;
}

.button-purple-fill:active,
.button-purple-fill.active,
.open>.dropdown-toggle.button-purple-fill {
    background-image: none;
}

.button-purple-fill.disabled:hover,
.button-purple-fill[disabled]:hover,
fieldset[disabled] .button-purple-fill:hover,
.button-purple-fill.disabled:focus,
.button-purple-fill[disabled]:focus,
fieldset[disabled] .button-purple-fill:focus,
.button-purple-fill.disabled.focus,
.button-purple-fill[disabled].focus,
fieldset[disabled] .button-purple-fill.focus {
    background-color: #3030AC;
    border-color: #3030AC;
}

.button-purple-fill .badge {
    color: #fff;
    background-color: #3030AC;
}

.button-purple-clear {
    color: #673ED6;
    background-color: transparent;
    border-color: #673ED6;
}

.button-purple-clear:focus,
.button-purple-clear.focus {
    color: #fff;
    background-color: #673ED6;
    border-color: #673ED6;
}

.button-purple-clear:hover {
    color: #fff;
    background-color: #673ED6;
    border-color: #673ED6;
}

.button-purple-clear:active,
.button-purple-clear.active,
.open>.dropdown-toggle.button-purple-clear {
    color: #fff;
    background-color: #673ED6;
    border-color: #673ED6;
}

.button-purple-clear:active:hover,
.button-purple-clear.active:hover,
.open>.dropdown-toggle.button-purple-clear:hover,
.button-purple-clear:active:focus,
.button-purple-clear.active:focus,
.open>.dropdown-toggle.button-purple-clear:focus,
.button-purple-clear:active.focus,
.button-purple-clear.active.focus,
.open>.dropdown-toggle.button-purple-clear.focus {
    color: #fff;
    background-color: #673ED6;
    border-color: #673ED6;
}

.button-purple-clear:active,
.button-purple-clear.active,
.open>.dropdown-toggle.button-purple-clear {
    background-image: none;
}

.button-purple-clear.disabled:hover,
.button-purple-clear[disabled]:hover,
fieldset[disabled] .button-purple-clear:hover,
.button-purple-clear.disabled:focus,
.button-purple-clear[disabled]:focus,
fieldset[disabled] .button-purple-clear:focus,
.button-purple-clear.disabled.focus,
.button-purple-clear[disabled].focus,
fieldset[disabled] .button-purple-clear.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-purple-clear .badge {
    color: #fff;
    background-color: #673ED6;
}

.button-redish-fill {
    color: #fff;
    background-color: #FF5333;
    border-color: #FF5333;
}

.button-redish-fill:focus,
.button-redish-fill.focus {
    color: #333;
    background-color: transparent;
    border-color: #FF5333;
}

.button-redish-fill:hover {
    color: #FF5333;
    background-color: transparent;
    border-color: #FF5333;
}

.button-redish-fill:active,
.button-redish-fill.active,
.open>.dropdown-toggle.button-redish-fill {
    color: #FF5333;
    background-color: transparent;
    border-color: #FF5333;
}

.button-redish-fill:active:hover,
.button-redish-fill.active:hover,
.open>.dropdown-toggle.button-redish-fill:hover,
.button-redish-fill:active:focus,
.button-redish-fill.active:focus,
.open>.dropdown-toggle.button-redish-fill:focus,
.button-redish-fill:active.focus,
.button-redish-fill.active.focus,
.open>.dropdown-toggle.button-redish-fill.focus {
    color: #FF5333;
    background-color: transparent;
    border-color: #FF5333;
}

.button-redish-fill:active,
.button-redish-fill.active,
.open>.dropdown-toggle.button-redish-fill {
    background-image: none;
}

.button-redish-fill.disabled:hover,
.button-redish-fill[disabled]:hover,
fieldset[disabled] .button-redish-fill:hover,
.button-redish-fill.disabled:focus,
.button-redish-fill[disabled]:focus,
fieldset[disabled] .button-redish-fill:focus,
.button-redish-fill.disabled.focus,
.button-redish-fill[disabled].focus,
fieldset[disabled] .button-redish-fill.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-redish-fill .badge {
    color: #fff;
    background-color: #FF5333;
}

.button-redish-clear {
    color: #FF5333;
    background-color: transparent;
    border-color: #FF5333;
}

.button-redish-clear:focus,
.button-redish-clear.focus {
    color: #fff;
    background-color: #FF5333;
    border-color: #FF5333;
}

.button-redish-clear:hover {
    color: #fff;
    background-color: #FF5333;
    border-color: #FF5333;
}

.button-redish-clear:active,
.button-redish-clear.active,
.open>.dropdown-toggle.button-redish-clear {
    color: #fff;
    background-color: #FF5333;
    border-color: #FF5333;
}

.button-redish-clear:active:hover,
.button-redish-clear.active:hover,
.open>.dropdown-toggle.button-redish-clear:hover,
.button-redish-clear:active:focus,
.button-redish-clear.active:focus,
.open>.dropdown-toggle.button-redish-clear:focus,
.button-redish-clear:active.focus,
.button-redish-clear.active.focus,
.open>.dropdown-toggle.button-redish-clear.focus {
    color: #fff;
    background-color: #FF5333;
    border-color: #FF5333;
}

.button-redish-clear:active,
.button-redish-clear.active,
.open>.dropdown-toggle.button-redish-clear {
    background-image: none;
}

.button-redish-clear.disabled:hover,
.button-redish-clear[disabled]:hover,
fieldset[disabled] .button-redish-clear:hover,
.button-redish-clear.disabled:focus,
.button-redish-clear[disabled]:focus,
fieldset[disabled] .button-redish-clear:focus,
.button-redish-clear.disabled.focus,
.button-redish-clear[disabled].focus,
fieldset[disabled] .button-redish-clear.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-redish-clear .badge {
    color: #fff;
    background-color: #FF5333;
}

.button-light-blue-fill {
    color: #fff;
    background-color: #22AFDE;
    border-color: #22AFDE;
}

.button-light-blue-fill:focus,
.button-light-blue-fill.focus {
    color: #333;
    background-color: transparent;
    border-color: #22AFDE;
}

.button-light-blue-fill:hover {
    color: #22AFDE;
    background-color: transparent;
    border-color: #22AFDE;
}

.button-light-blue-fill:active,
.button-light-blue-fill.active,
.open>.dropdown-toggle.button-light-blue-fill {
    color: #22AFDE;
    background-color: transparent;
    border-color: #22AFDE;
}

.button-light-blue-fill:active:hover,
.button-light-blue-fill.active:hover,
.open>.dropdown-toggle.button-light-blue-fill:hover,
.button-light-blue-fill:active:focus,
.button-light-blue-fill.active:focus,
.open>.dropdown-toggle.button-light-blue-fill:focus,
.button-light-blue-fill:active.focus,
.button-light-blue-fill.active.focus,
.open>.dropdown-toggle.button-light-blue-fill.focus {
    color: #22AFDE;
    background-color: transparent;
    border-color: #22AFDE;
}

.button-light-blue-fill:active,
.button-light-blue-fill.active,
.open>.dropdown-toggle.button-light-blue-fill {
    background-image: none;
}

.button-light-blue-fill.disabled:hover,
.button-light-blue-fill[disabled]:hover,
fieldset[disabled] .button-light-blue-fill:hover,
.button-light-blue-fill.disabled:focus,
.button-light-blue-fill[disabled]:focus,
fieldset[disabled] .button-light-blue-fill:focus,
.button-light-blue-fill.disabled.focus,
.button-light-blue-fill[disabled].focus,
fieldset[disabled] .button-light-blue-fill.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-light-blue-fill .badge {
    color: #fff;
    background-color: #22AFDE;
}

.button-light-blue-clear {
    color: #22AFDE;
    background-color: transparent;
    border-color: #22AFDE;
}

.button-light-blue-clear:focus,
.button-light-blue-clear.focus {
    color: #fff;
    background-color: #22AFDE;
    border-color: #22AFDE;
}

.button-light-blue-clear:hover {
    color: #fff;
    background-color: #22AFDE;
    border-color: #22AFDE;
}

.button-light-blue-clear:active,
.button-light-blue-clear.active,
.open>.dropdown-toggle.button-light-blue-clear {
    color: #fff;
    background-color: #22AFDE;
    border-color: #22AFDE;
}

.button-light-blue-clear:active:hover,
.button-light-blue-clear.active:hover,
.open>.dropdown-toggle.button-light-blue-clear:hover,
.button-light-blue-clear:active:focus,
.button-light-blue-clear.active:focus,
.open>.dropdown-toggle.button-light-blue-clear:focus,
.button-light-blue-clear:active.focus,
.button-light-blue-clear.active.focus,
.open>.dropdown-toggle.button-light-blue-clear.focus {
    color: #fff;
    background-color: #22AFDE;
    border-color: #22AFDE;
}

.button-light-blue-clear:active,
.button-light-blue-clear.active,
.open>.dropdown-toggle.button-light-blue-clear {
    background-image: none;
}

.button-light-blue-clear.disabled:hover,
.button-light-blue-clear[disabled]:hover,
fieldset[disabled] .button-light-blue-clear:hover,
.button-light-blue-clear.disabled:focus,
.button-light-blue-clear[disabled]:focus,
fieldset[disabled] .button-light-blue-clear:focus,
.button-light-blue-clear.disabled.focus,
.button-light-blue-clear[disabled].focus,
fieldset[disabled] .button-light-blue-clear.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-light-blue-clear .badge {
    color: #fff;
    background-color: #22AFDE;
}

.button-yellowish-fill {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.button-yellowish-fill:focus,
.button-yellowish-fill.focus {
    color: #333;
    background-color: transparent;
    border-color: #F0AD4E;
}

.button-yellowish-fill:hover {
    color: #F0AD4E;
    background-color: transparent;
    border-color: #F0AD4E;
}

.button-yellowish-fill:active,
.button-yellowish-fill.active,
.open>.dropdown-toggle.button-yellowish-fill {
    color: #F0AD4E;
    background-color: transparent;
    border-color: #F0AD4E;
}

.button-yellowish-fill:active:hover,
.button-yellowish-fill.active:hover,
.open>.dropdown-toggle.button-yellowish-fill:hover,
.button-yellowish-fill:active:focus,
.button-yellowish-fill.active:focus,
.open>.dropdown-toggle.button-yellowish-fill:focus,
.button-yellowish-fill:active.focus,
.button-yellowish-fill.active.focus,
.open>.dropdown-toggle.button-yellowish-fill.focus {
    color: #F0AD4E;
    background-color: transparent;
    border-color: #F0AD4E;
}

.button-yellowish-fill:active,
.button-yellowish-fill.active,
.open>.dropdown-toggle.button-yellowish-fill {
    background-image: none;
}

.button-yellowish-fill.disabled:hover,
.button-yellowish-fill[disabled]:hover,
fieldset[disabled] .button-yellowish-fill:hover,
.button-yellowish-fill.disabled:focus,
.button-yellowish-fill[disabled]:focus,
fieldset[disabled] .button-yellowish-fill:focus,
.button-yellowish-fill.disabled.focus,
.button-yellowish-fill[disabled].focus,
fieldset[disabled] .button-yellowish-fill.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-yellowish-fill .badge {
    color: #fff;
    background-color: #F0AD4E;
}

.button-yellowish-clear {
    color: #F0AD4E;
    background-color: transparent;
    border-color: #F0AD4E;
}

.button-yellowish-clear:focus,
.button-yellowish-clear.focus {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.button-yellowish-clear:hover {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.button-yellowish-clear:active,
.button-yellowish-clear.active,
.open>.dropdown-toggle.button-yellowish-clear {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.button-yellowish-clear:active:hover,
.button-yellowish-clear.active:hover,
.open>.dropdown-toggle.button-yellowish-clear:hover,
.button-yellowish-clear:active:focus,
.button-yellowish-clear.active:focus,
.open>.dropdown-toggle.button-yellowish-clear:focus,
.button-yellowish-clear:active.focus,
.button-yellowish-clear.active.focus,
.open>.dropdown-toggle.button-yellowish-clear.focus {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.button-yellowish-clear:active,
.button-yellowish-clear.active,
.open>.dropdown-toggle.button-yellowish-clear {
    background-image: none;
}

.button-yellowish-clear.disabled:hover,
.button-yellowish-clear[disabled]:hover,
fieldset[disabled] .button-yellowish-clear:hover,
.button-yellowish-clear.disabled:focus,
.button-yellowish-clear[disabled]:focus,
fieldset[disabled] .button-yellowish-clear:focus,
.button-yellowish-clear.disabled.focus,
.button-yellowish-clear[disabled].focus,
fieldset[disabled] .button-yellowish-clear.focus {
    background-color: #fff;
    border-color: #ccc;
}

.button-yellowish-clear .badge {
    color: #fff;
    background-color: #F0AD4E;
}


/* ----------------------Auto text scale-------------*/

.title-crear-tienda {
    font-size: 20px;
}

@media all and (max-width: 500px) {
    .title-crear-tienda {
        font-size: 0.9em;
    }
}


/* ------------------Glyphicons-------------------------- */

.glyphicon {
    top: -0.05em;
}


/* ------------------SPA Content size-------------------------- */


/* ------------------Text-------------------------- */

.vertical-text {
    padding: 55px 5px 0px 5px;
    width: 190px;
}

@media all and (max-width: 992px) {
    .vertical-text {
        text-align: center;
        padding: 50px 0px 0px 0px;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .vertical-text {
        text-align: left;
        padding: 65px 0px 0px 45px;
        width: 120%;
    }
}

@media only screen and (min-width: 1200px) {
    .vertical-text {
        text-align: left;
        padding: 65px 0px 0px 0px;
        width: 110%;
    }
}


/* ------------------Icons Space MiTienda-------------------------- */

@media only screen and (max-width: 1200px) {
    .center-icons {
        text-align: center;
        margin-left: 7px
    }
}


/* ------------------Title spacing-------------------------- */

@media only screen and (max-width: 992px) {
    .center-title {
        /*margin-left: -37px;*/
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .center-title {
        text-align: center;
    }
}


/* ------------------Division Yellow bar-------------------------- */

.ybar-height-mt {
    height: 500px;
}

.ybar-height-mc {
    height: 76vh;
}

.ybar-height-se {
    height: 80vh;
}

@media only screen and (max-width: 1200px) {
    .ybar-height-mt {
        height: 600px;
    }
    .ybar-height-mc {
        height: 86vh;
    }
    .ybar-height-ma {
        height: 190vh;
    }
}

@media only screen and (max-width: 992px) {
    .ybar-height-mt {
        height: 1470px;
    }
    .ybar-height-mc {
        height: 125vh;
    }
    .ybar-height-ma {
        height: 190vh;
    }
}

@media only screen and (max-width: 768px) {
    .ybar-height-mt {
        height: 230vh;
    }
    .ybar-height-mc {
        height: 155vh;
    }
    .ybar-height-ma {
        height: 190vh;
    }
}

@media only screen and (max-width: 480px) {
    .ybar-height-mt {
        height: 244vh;
    }
    .ybar-height-mc {
        height: 165vh;
    }
    .ybar-height-ma {
        height: 190vh;
    }
}

@media only screen and (max-width: 320px) {
    .ybar-height-mt {
        height: 177vh;
    }
    .ybar-height-mc {
        height: 101vh;
    }
    .ybar-height-ma {
        height: 190vh;
    }
}


/*------------------------Borderless--------------------*/

li.borderless {
    outline: 0 none !important;
    border: 0 none !important;
    box-shadow: none !important;
}


/*------------------------Blockquote--------------------*/

blockquote {
    border-left: 3px solid #F0AD4E;
}


/*------------------------Footer--------------------*/

html,
body {
    height: 100%;
}

.footer-text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'co-text';
    font-size: 12px;
    font-weight: 300;
    color: #838383;
    text-align: right;
}

#footerList {
    margin-top: 50px;
    text-align: left;
}

#financeTrackerFooter {
    margin-top: 130px;
}

.footer {
    background-color: #fff;
    padding-bottom: 10px;
    margin-top: 0px;
    z-index: 100;
    height: 200px;
    background-color: #EFEFEF;
}


/*@media only screen and (max-width: 480px) {
    .footer {
        position: fixed;
        width: 90%;
        margin-left: 4vh;
        bottom: 0;
        background-color: #fff;
        padding-bottom: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        position: fixed;
        width: 80%;
        margin-left: 10vh;
        bottom: 0;
        background-color: #fff;
        padding-bottom: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        position: fixed;
        width: 80%;
        margin-left: 10vh;
        bottom: 0;
        background-color: #fff;
        margin-bottom: -17px;
    }
}
*/


/*------------------------Ventas Icons--------------------*/

.ventas-icons {
    padding-left: 12px;
    padding-right: 12px;
}

.ventas-icons-number {
    font-family: GillSansBold;
    font-size: 24px;
    margin-top: 15px;
}

.ventas-icons-text {
    font-family: HelveticaNeue;
    font-size: 15px;
}

.ventas-red-icon {
    font-family: GillSansBold;
    font-size: 30px;
    color: #E86060;
    text-align: center;
    padding-top: 7px;
}

@media only screen and (max-width: 1200px) {
    .ventas-red-icon {
        font-family: GillSansBold;
        font-size: 20px;
        color: #E86060;
        text-align: center;
        padding-top: 7px;
    }
}

@media only screen and (max-width: 920px) {
    .ventas-red-icon {
        font-family: GillSansBold;
        font-size: 30px;
        color: #E86060;
        text-align: center;
        padding-top: 7px;
    }
}

@media only screen and (max-width: 768px) {
    .ventas-red-icon {
        font-family: GillSansBold;
        font-size: 20px;
        color: #E86060;
        text-align: center;
        padding-top: 7px;
    }
}

@media only screen and (max-width: 480px) {
    .ventas-red-icon {
        font-family: GillSansBold;
        font-size: 13px;
        color: #E86060;
        text-align: center;
        padding-top: 7px;
    }
}


/*------------------------Image Preview--------------------*/

.thumb {
    width: 40px;
    height: 40px;
    margin: 0.2em -0.7em 0 0;
}

.remove_img_preview {
    position: relative;
    top: -35px;
    right: 5px;
    background: black;
    color: white;
    border-radius: 50px;
    font-size: 0.9em;
    padding: 0 0.3em 0;
    text-align: center;
    cursor: pointer;
}

.remove_img_preview:before {
    content: "×";
}


/*------------------------parallax--------------------*/

.parallax {
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    width: 100%;
    height: 900px;
    position: relative;
}

.parallax .contenido {
    position: relative;
    top: 400px;
    text-align: center;
    color: #FFF;
}

.wrapper {
    position: relative;
}

.wrapper div {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #FFF;
}

#uno {
    background: url(../images/back1.jpg);
    background-size: 100% 100%;
}

#dos {
    background: url(../images/back2.jpg);
    background-size: 100% 100%;
}


/*------------------------Header--------------------*/

#headerNav {
/*
    position: absolute;
    height: 200px !important;
    padding-top: 500px !important;
*/
}

#navbarLogo {
    width: 70px;
    margin-left: 21px;
    margin-top: 14px;
}

.header-titles {
    font-family: "co-text";
    font-size: 16px;
    font-weight: 400;
    padding-top: 100px;
}

@media (min-width: 800px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}


/*Centers vertically in navbar */

.navbar-nav li a {
    line-height: 50px;
}

.navbar-inverse {
    /*background-image: url("../images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;*/
    background: transparent;
    border: 0px;
    color: #ffffff;
    box-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    z-index: 100;
}

.navbar-inverse .navbar-nav .navbar-right {
    float: right;
    margin-right: 0;
    padding-left: 10px;
}

.navbar .nav>li>a {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    text-shadow: none
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav>.active>a {
    color: #fff;
    height: 95px;
    background: rgba(100, 100, 100, 0);
    box-shadow: 0px 2px 2px #6E6E6E;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    -webkit-text-shadow: none;
    background: #495BED;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background: transparent;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.open>a {
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background: #495BED;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #eee;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #000;
    background: #495BED;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    color: #eeeeee;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-brand {
    margin-top: -15px;
}

.nav-tabs {
    color: #161616;
}

.nav>li>a {
    color: #555555;
}

.navbar-inverse .navbar-collapse {
    /*    height: 500px;*/
    /*replace with desired color*/
}

.navbar-inverse .navbar-collapse>.active>a:hover {
    background: #000;
    color: aqua;
    /*replace with desired color*/
}

@media only screen and (max-width: 992px) {
    navbar-inverse .navbar-toggle .icon-bar {
        background-color: #696969;
    }
    .navbar-header {
        height: 95px !important;
        /*        background-image: url(../images/Background.png);*/
    }
    .navbar-inverse .navbar-collapse {
        background: #495BED;
        text-align: left;
        /*replace with desired color*/
    }
    .header-titles {
        padding-top: 0px;
    }
    #navbarLogo {
        /*        margin-top: 60px;*/
    }
    #collapseList {
        /*        margin-top: 100px;*/
    }
    .collapse.in {
        /*
        margin-top: 100px !important;
        width: 100%;
*/
    }
}


/*------------------------Landing--------------------*/

.headerBackground {
    background-image: url(../images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    height: 100vh;
    margin-top: -120px;
    z-index: 0;
}

.landing-header {
    position: relative;
    font-family: "co-text";
    font-weight: 200;
    margin-top: 20%;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 0px 2px 2px #6E6E6E;
    font-size: 50px;
}

#begin {
    width: 15%;
    min-width: 150px;
}

#grow {
    width: 40%;
    min-width: 100px;
    max-width: 200px;
}

#transform {
    width: 50%;
    min-width: 100px;
    max-width: 200px;
    margin-top: 25px;
}

#learn {
    width: 25%;
    min-width: 100px;
    max-width: 200px;
}

.row-purple-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4151d3+0,3d3bbf+100 */
    background: #4151d3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4151d3 0%, #3d3bbf 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4151d3 0%, #3d3bbf 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4151d3 0%, #3d3bbf 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4151d3', endColorstr='#3d3bbf', GradientType=0);
    /* IE6-9 */
}

.landingPurpleGradient {
    height: 200px;
}

.gradientContainer {
    overflow-x: hidden;
    background-color: #fff;
}

.iconsRow {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.icon-descp {
    font-family: 'co-text';
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.icon-title {
    font-family: 'co-text';
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-top: 15px;
}

.store-img {
    width: 50%;
    min-width: 240px;
}

#storesRow {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.icon-row-height {
    height: 200px;
}

@media only screen and (max-width: 992px) {
    #learn {
        width: 20% !important;
        margin-top: 40px !important;
    }
    #transform {
        margin-top: 60px !important;
    }
    #landingHeaderTitle {
        margin-top: 200px !important;
    }
    #appstore {
        margin-bottom: 40px !important;
    }
}

@media only screen and (max-width: 768px) {
    .landing-header {
        font-size: 40px;
    }
}


/*------------------------Login/Register--------------------*/

.blue-gradient {
    background: url('../images/BlueBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
}

#loginBox {
    width: 400px;
    height: 270px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #FFFFFF;
    -webkit-box-shadow: #383FBA 0px 3px 3px;
    -moz-box-shadow: #383FBA 0px 3px 3px;
    box-shadow: #383FBA 0px 3px 3px;
}

#registerBox {
    width: 400px;
    height: 380px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #FFFFFF;
    -webkit-box-shadow: #383FBA 0px 3px 3px;
    -moz-box-shadow: #383FBA 0px 3px 3px;
    box-shadow: #383FBA 0px 3px 3px;
}

.logo-proc {
    width: 8%;
    min-width: 100px;
}

input[type=password],
input[type=text] {
    border-radius: 50px;
    border: none;
    background: #4A60EA;
    color: #fff;
}

input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff !important;
    opacity: 1;
    font-family: 'co-text';
    font-weight: 300;
    text-align: center;
}

input[type=password]:-moz-placeholder,
input[type=text]:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff !important;
    opacity: 1;
    font-family: 'co-text';
    font-weight: 300;
    text-align: center;
}

input[type=password]::-moz-placeholder,
input[type=text]::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff !important;
    opacity: 1;
    font-family: 'co-text';
    font-weight: 300;
    text-align: center;
}

input[type=password]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
    font-family: 'co-text';
    font-weight: 300;
    text-align: center;
}

.dataTitle {
    font-family: 'co-text';
    font-size: 22px;
    font-weight: 300;
    color: #4B4B4B;
}

.error-text {
    color: #A94442;
    font-family: 'co-text';
    font-weight: 300;
}

#backIcon {
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #383FBA;
}

.data-link {
    font-family: 'co-text';
    font-weight: 300;
    font-size: 14px;
    color: #673ED6;
}


/*------------------------Currency/Glossary--------------------*/

.rowPurpleGradient {
    height: 110px;
    margin-top: 100px;
}

.currencyPurpleGradient {
    height: 110px;
}

#currencyMomRow{
    margin-top: 100px;
}

.co-light {
    font-family: 'co-text';
    font-weight: 300;
}

.co-heavy {
    font-family: 'co-text';
    font-weight: 700;
}

.big-titles {
    font-size: 30px;
    color: #fff;
}

.sub-titles {
    font-size: 25px;
    color: #fff;
}

.mini-titles {
    font-family: 'co-text';
    font-weight: 700;
    font-size: 20px;
    color: #4151D3;
}

.purple-labels {
    font-size: 13px;
    color: #4151D3;
}

.light-grey-text {
    font-size: 13px;
    color: #888888;
}

.grey-text {
    font-size: 14px;
    color: #696969;
}

.violet-text {
    font-size: 14px;
    color: #865FEF;
}

.green-text {
    font-size: 14px;
    color: #85CC73;
}

.greenish-text {
    font-size: 14px;
    color: #82C9C9;
}

.bottom-text {
    margin-top: 60px;
}

.big-text-vertical-align {
    margin-top: 55px;
}

#whiteSeparator {
    margin-top: 13px;
}

#greySeparator {
    margin-top: 13px;
    height: 60vh;
}

.white-row {
    background: #fff;
    height: 120vh;
    margin-top: -5px;
}

.currencyList>ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
}

.glossary-panel {
    margin-left: 45px;
    margin-right: 45px;
}

.md-violet {
    background: #865FEF !important;
    border: 1px solid #865FEF;
}

.md-green {
    background: #85CC73 !important;
    border: 1px solid #85CC73;
}

.md-greenish {
    background: #82C9C9 !important;
    border: 1px solid #82C9C9;
}

@media only screen and (max-width: 992px) {
    #glossaryPaddingBG {
        height: 160vh;
    }
}

@media only screen and (max-width: 768px) {
    #glossaryPaddingBG {
        height: 180vh;
    }
}


/*------------------------Dashboard--------------------*/

#dashboardPurpleGradient {
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: -5px;
}

.row-no-padding {
    margin-left: -30px;
}

.co-text {
    font-size: 16px;
    color: #fff;
}

.dashboard-titles {
    font-size: 22px;
    color: #fff;
}

.sidemenu-item {
    height: 48px;
}

.selected-state {
    background: #3140B7;
}

.input-grey {
    background: #ADADAD !important;
    color: #fff !important;
}

.dialog-title {
    color: #6D6D6D;
}


/*------------------------Hover--------------------*/

.hvr-grow {
    display: inherit !important;
}

.hvr-rotate {
    display: inherit !important;
}

.hvr-buzz-out {
    display: inherit !important;
}

.hvr-grow {
    display: inherit !important;
}

.hvr-hang {
    display: inherit !important;
}


/*------------------------Ul--------------------*/

ul {
    list-style-type: none;
}


/*------------------------Hr--------------------*/

.white-hr {
    border-width: 2px 1px 0;
    border-style: solid;
    border-color: #737FE8;
    width: 85%;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: auto;
}


/*------------------------DatePicker--------------------*/

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}


/*------------------------Toast--------------------*/

md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: maroon;
}

md-toast.md-info-toast-theme .md-toast-content {
    background-color: #673ED6;
}

md-toast {
    left: calc(50vw - 150px);
}


/*------------------------Animation Transitions--------------------*/

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ng-fade {
    animation: fade 0.3s ease-out;
    z-index: 99999;
}