<div class="row">
    <div class="col-xs-12 space-padding-lg"></div>
    <div class="col-xs-12 space-padding-lg"></div>
    <div class="co-xs-12 col-sm-10 col-md-7 col-sm-push-1 col-md-push-3">
        <div class="btn-group-vertical center-but " role="group">
            <button type="button" class="btn button-purple-clear waves-effect waves-light co-light" ng-click="openRegisterAc()">Register Account</button>
            <!--            <button type="button" class="btn button-purple-clear waves-effect waves-light co-light" ng-click="openEditAc()">Edit Account</button>
--><button type="button" class="btn button-purple-clear waves-effect waves-light co-light" ng-click="openDeleteAc()">Delete Account</button>
        </div>

    </div>
</div>