<div class="fluid-container gradientContainer headerBackground">

    <div class="row white-row" id="currencyMomRow">
        <div class="col-xs-12 col-md-4 ">
            <div class="row row-purple-gradient currencyPurpleGradient">
                <div class="col-xs-12">
                    <p class="co-light sub-titles bottom-text text-center">Popular Currency Rates</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 space-padding-lg"></div>
                <div class="col-xs-3 col-md-6 col-xs-push-3 col-md-push-0">
                    <p class="mini-titles text-center">Currency</p>
                </div>
                <div class="col-xs-3 col-md-6 col-xs-push-3 col-md-push-0">
                    <p class="mini-titles text-center">Rate</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-6 col-xs-push-3 col-md-push-0 currencyList">
                    <ul>
                        <li ng-repeat="currency in currencies">
                            <p class="grey-text text-center">{{currency.name}} </p>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3 col-md-6 col-xs-push-3 col-md-push-0 currencyList">
                    <ul>
                        <li ng-repeat="currency in currencies">
                            <p class="light-grey-text text-center">{{currency.rates}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="row row-purple-gradient currencyPurpleGradient">
                <div class="col-xs-12">
                    <p class="co-light big-titles bottom-text big-text-vertical-align text-center">Convert Your Currency</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 space-padding-lg"></div>
                <div class="col-xs-6">
                    <p class="mini-titles text-center">From Currency</p>
                </div>
                <div class="col-xs-6">
                    <p class="mini-titles text-center">To Currency</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 space-padding-lg"></div>
                <div class="col-xs-10 col-xs-push-1">
                    <form name="currencyForm" novalidate>
                        <div class="form-group col-xs-6">
                            <select class="form-control" id="sFromCur" name="sFromCur" ng-model="currency.from" ng-options="coin for coin in coins" ng-init="currency.from = coins[0]">
                            </select>

                        </div>
                        <div class="form-group col-xs-6">
                            <select class="form-control" id="sToCur" name="sToCur" ng-model="currency.to" ng-options="coin for coin in coins" ng-init="currency.to = coins[0]">
                                <option selected value="default">Choose here</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6">
                            <p class="co-light purple-labels text-left">Amount</p>
                            <input type="number" id="nfromAmount" name="nfromAmount" ng-model="currency.fromAmount">
                        </div>
                        <div class="form-group col-xs-6">
                            <p class="co-light purple-labels text-left">Amount</p>
                            <input type="number" id="ntoAmount" name="ntoAmount" ng-model="currency.toAmount" readonly>
                        </div>
                        <div class="col-xs-12 space-padding"></div>
                        <div class="form-group col-xs-12">
                            <button id="bConvert " class="button button-sm btn-block button-purple-clear waves-effect waves-light " ng-disabled="currencyForm.nfromAmount.$pristine || currencyForm.nfromAmount.$invalid" ng-click="convert()">Convert!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="row-purple-gradient rowPurpleGradient">
            <div class="col-md-4">
                <p class="co-light sub-titles bottom-text text-center">Popular Currency Rates</p>
            </div>
            <div class="col-md-1">
                <img class="img-responsive pull-left " src="../images/WhiteLine.png" id="whiteSeparator">
            </div>
            <div class="col-md-6">
                <p class="co-light big-titles bottom-text big-text-vertical-align text-center">Convert Your Currency</p>
            </div>
        </div>
    </div>
    <div class="row white-row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-12 space-padding-lg"></div>
                <div class="col-xs-6">
                    <p class="mini-titles text-center">Currency</p>
                </div>
                <div class="col-xs-6">
                    <p class="mini-titles text-center">Rate</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-6 currencyList">
                    <ul>
                        <li ng-repeat="currency in currencies">
                            <p class="grey-text text-center">{{currency.name}} </p>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 currencyList">
                    <ul>
                        <li ng-repeat="currency in currencies">
                            <p class="light-grey-text text-center">{{currency.rates}}</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-1">
            <img class="img-responsive pull-left " src="../images/GreyLine.png" id="greySeparator">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12 space-padding-lg"></div>
                <div class="col-xs-6">
                    <p class="mini-titles text-center">From Currency</p>
                </div>
                <div class="col-xs-6">
                    <p class="mini-titles text-center">To Currency</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 space-padding-lg"></div>
                <form name="currencyForm" novalidate>
                    <div class="form-group col-xs-6">
                        <select class="form-control" id="sFromCur" name="sFromCur" ng-model="currency.from" ng-options="coin for coin in coins" ng-init="currency.from = coins[0]">
                        </select>

                    </div>
                    <div class="form-group col-xs-6">
                        <select class="form-control" id="sToCur" name="sToCur" ng-model="currency.to" ng-options="coin for coin in coins" ng-init="currency.to = coins[0]">
                            <option selected value="default">Choose here</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <p class="co-light purple-labels text-left">Amount</p>
                        <input type="number" id="nfromAmount" name="nfromAmount" ng-model="currency.fromAmount">
                    </div>
                    <div class="form-group col-xs-6">
                        <p class="co-light purple-labels text-left">Amount</p>
                        <input type="number" id="ntoAmount" name="ntoAmount" ng-model="currency.toAmount" readonly>
                    </div>
                    <div class="col-xs-12 space-padding"></div>
                    <div class="form-group col-xs-12">
                        <button id="bConvert " class="button button-sm btn-block button-purple-clear waves-effect waves-light " ng-disabled="currencyForm.nfromAmount.$pristine || currencyForm.nfromAmount.$invalid" ng-click="convert()">Convert!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
-->
</div>