<div class="fluid-container gradientContainer headerBackground">
    <div class="row">
        <div class="col-xs-12 space-padding-lg"></div>
        <div class="col-xs-12 space-padding-lg"></div>
        <div class="col-xs-12 space-padding"></div>
        <div class="col-xs-12 space-padding-md"></div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            <div class="row row-purple-gradient" id="dashboardPurpleGradient">
                <div class="col-xs-12">
                    <p class="co-light dashboard-titles text-center">Finance Tracker</p>
                </div>
                <div class="col-xs-12 space-padding-lg"></div>

                <div class="col-xs-12" ng-class="{'selected-state': stateis('landing.dashboard.tracker'), 'sidemenu-item':true}">
                    <a ui-sref="landing.dashboard.tracker">
                        <p class="co-heavy co-text text-center">Your Finances</p>
                    </a>
                    <hr class="white-hr">
                </div>
                <div class="col-xs-12 space-padding-md"></div>
                <div class="col-xs-12 sidemenu-item" ng-class="{'selected-state': stateis('landing.dashboard.accounts'), 'sidemenu-item':true}">
                    <a ui-sref="landing.dashboard.accounts">
                        <p class="co-heavy co-text text-center">Your Accounts</p>
                    </a>
                    <hr class="white-hr">
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-10">
            <div class="row row-no-padding white-row">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>