<div class="fluid-container gradientContainer headerBackground">
    <div class="row">
        <div class="row-purple-gradient rowPurpleGradient">
            <div class="col-xs-12">
                <p class="co-light big-titles bottom-text text-center">Learn</p>
            </div>
        </div>
    </div>
    <div class="row white-row" id="glossaryPaddingBG">
        <div class="col-xs-12 space-padding-lg"></div>
        <div class="col-md-6 col-xs-12">
            <div layout="column" ng-cloak class="glossary-panel md-violet">
                <md-toolbar class="md-violet">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex co-light">Definitions</h2>
                    </div>
                </md-toolbar>

                <md-content flex layout-padding>
                    <ul>
                        <li ng-repeat="tip in tips | filter: {category: 'Definitions'} : true">
                            <div class="col-xs-12">
                                <p class="light-grey-text text-left"><span class="grey-text">{{tip.topic}}</span> {{tip.description}}</p>
                            </div>
                        </li>
                    </ul>
                </md-content>

            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div layout="column" ng-cloak class="glossary-panel md-greenish">
                <md-toolbar class="md-greenish">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex co-light">Formulas</h2>
                    </div>
                </md-toolbar>

                <md-content flex layout-padding>
                    <ul>
                        <li ng-repeat="tip in tips | filter: {category: 'Formula'} : true">
                            <div class="col-xs-12">
                                <p class="light-grey-text text-left"><span class="grey-text">{{tip.topic}}</span></p>
                                <p class="text-center"><katex  bind="tip.description"></katex></p>
                            </div>
                        </li>
                        <div class="col-xs-12 space-padding-mid"></div>
                    </ul>
                </md-content>

            </div>
        </div>
        <div class="col-xs-12" id="glossaryPadding"></div>
    </div>
</div>