<div class="ngdialog-message">
    <h2 class="co-light text-center dialog-title">Register a new account</h2>
    <div class="row">
        <div class="col-xs-12 space-padding"></div>
        <div class="col-xs-12">
            <form name='registerAccForm' novalidate>
                <div class="form-group" ng-class="{ 'has-error' : registerAccForm.rAName.$error.required && !registerAccForm.rAName.$pristine }">
                    <input type="text" class="form-control co-light input-grey" id="rAName" name="rAName" ng-model="regAcc.name" placeholder="Account Name" required>
                    <span ng-show="registerAccForm.rAName.$error.required && !registerAccForm.rAName.$pristine" class="error-text">Account name is required.</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registerAccForm.rADescp.$error.required && !registerAccForm.rADescp.$pristine }">
                    <textarea class="form-control text-left co-light" rows="7" id="rADescp" name="rADescp" ng-model="regAcc.description" placeholder="Account description" required>
                                </textarea>
                    <span ng-show="registerAccForm.rADescp.$error.required && !registerAccForm.rADescp.$pristine" class="error-text">Account description is required.</span>
                </div>
                <div class="col-xs-12 space-padding-md"></div>
                <div class="form-group pull-left col-xs-10 col-xs-push-1">
                    <button type="button" class="button btn-block button-light-purple-fill waves-effect waves-purple " ng-disabled="registerAccForm.rAName.$pristine || registerAccForm.rADescp.$pristine || registerAccForm.rAName.$invalid || registerAccForm.rADescp.$invalid "
                        ng-click="registerAccount()">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>